<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="expires" content="0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/ReactCrop.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script src="~/libs/react.development.js"></script>
    <script src="~/libs/react-dom.development.js"></script>
    <environment include="Development">
        <script src="~/libs/babel.min.js" charset="utf-8"></script>
    </environment>
    @RenderSection("head", false)
</head>
<body>
    @RenderBody()
    @*<script src="~/libs/signalr.min.js"></script>*@
    <script src="~/libs/signalr.min.js"></script>
    <script src="~/libs/ReactCrop.min.js"></script>
    <environment include="Development">
        <script type="text/babel" src="~/js/HeartBeat.js">
        </script>
        <script type="text/babel" src="~/js/MessageStrip.js">
        </script>
        <script type="text/babel" src="~/js/RegisterForm.js">
        </script>
        <script type="text/babel" src="~/js/ManageProfile.js">
        </script>
        <script type="text/babel" src="~/js/NavMenu.js">
        </script>
    </environment>
    <environment include="Staging,Production" exclude="Development">
        <script src="~/js/compiled/HeartBeat.js">
        </script>
        <script src="~/js/compiled/MessageStrip.js">
        </script>
        <script src="~/js/compiled/RegisterForm.js">
        </script>
        <script src="~/js/compiled/ManageProfile.js">
        </script>
        <script src="~/js/compiled/NavMenu.js">
        </script>
    </environment>
    @RenderSection("scripts", false)
</body>
</html>
