@{
    ViewData["Title"] = "Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="root"></div>
@section scripts{
    <script src="~/libs/moment.min.js"></script>
    <script src="~/libs/simplepeer.min.js"></script>
    <environment include="Development">
        <script type="text/babel" src="~/js/ManageProfile.js"></script>
        <script type="text/babel" src="~/js/RegisterForm.js"></script>
        <script type="text/babel" src="~/js/Welcome.js"></script>
        <script type="text/babel" src="~/js/AuthContext.js"></script>
        <script type="text/babel" src="~/js/Layout.js"></script>
        <script src="~/js/TranformMessage.js"></script>
        <script type="text/babel" src="~/js/Models.js"></script>
        <script type="text/babel" src="~/js/Emoji.js"></script>
        <script type="text/babel" src="~/js/ViewProfile.js"></script>
        <script type="text/babel" src="~/js/BlockContact.js"></script>
        <script type="text/babel" src="~/js/PersonChat.js"></script>
        <script type="text/babel" src="~/js/Conversation.js"></script>
        <script type="text/babel" src="~/js/App.js"></script>
        <script type="text/babel">
            ReactDOM.render(
            <App />,
            document.getElementById('root')
            );
        </script>
    </environment>
    <environment include="Staging,Production" exclude="Development">
        <script src="~/js/compiled/ManageProfile.js">
        </script>
        <script src="~/js/compiled/RegisterForm.js">
        </script>
        <script src="~/js/compiled/Welcome.js">
        </script>
        <script>
            "use strict";

            ReactDOM.render( /*#__PURE__*/React.createElement(Welcome, null), document.getElementById('Welcomediv'));
        </script>
    </environment>
}