
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row align-items-center justify-content-center" style="height:100vh">
    <div class="col-md-5">
        <h3>Forgot Password?</h3>
        <p>
            We are here to help, just put in your user name or email or phone and
            you will receive your password.
        </p>
        @if (ViewBag.Success != null)
        {
            <div class="p-2 text-success">
                @ViewBag.Success <a href="@Url.Content("~/")" class="btn btn-link">Login Now</a>
            </div>
        }
        <form action="@Url.Content("~/forgotpassword")" method="get">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">User Name or Email or Password</label>
                <input type="text" maxlength="250" class="form-control" required id="exampleInputEmail1" name="username" />
            </div>
            <button type="submit" class="btn btn-primary">Recover Password</button>
        </form>
    </div>
</div>

