
@{
    ViewData["Title"] = "Ignored";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col" id="ignoredcont">
    </div>
</div>

@section scripts{

    <environment include="Development">
        <script type="text/babel">
                ReactDOM.render(<IgnoredUsers  />, document.getElementById('ignoredcont'));
        </script>
    </environment>
    <environment include="Staging,Production" exclude="Development">
        <script>
            ReactDOM.render(React.createElement(IgnoredUsers, {}), document.getElementById('ignoredcont'));
        </script>
    </environment>
}