
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="root"></div>
@section scripts{
    <script src="~/libs/moment.min.js"></script>
    <script src="~/libs/simplepeer.min.js"></script>
    <script src="~/libs/fabric.min.js"></script>
    <environment include="Development">
        <script type="text/babel" src="~/js/ManageProfile.js"></script>
        <script type="text/babel" src="~/js/RegisterForm.js"></script>
        <script type="text/babel" src="~/js/AuthContext.js"></script>
        <script type="text/babel" src="~/js/Layout.js"></script>
        <script type="text/babel" src="~/js/MessageStrip.js"></script>
        <script src="~/js/TranformMessage.js"></script>
        <script type="text/babel" src="~/js/Models.js"></script>
        <script type="text/babel" src="~/js/Emoji.js"></script>
        <script type="text/babel" src="~/js/ViewProfile.js"></script>
        <script type="text/babel" src="~/js/BlockContact.js"></script>
        <script type="text/babel" src="~/js/PersonChat.js"></script>
        <script type="text/babel" src="~/js/Conversation.js"></script>
        <script type="text/babel" src="~/js/Privacy.js"></script>
        <script type="text/babel" src="~/js/Profile.js"></script>
        <script type="text/babel" src="~/js/App.js"></script>
        <script type="text/babel">
            ReactDOM.render(
            <App />,
            document.getElementById('root')
            );
        </script>
    </environment>
    <environment include="Staging,Production" exclude="Development">
        <script src="~/js/compiled/ManageProfile.js"></script>
        <script src="~/js/compiled/RegisterForm.js"></script>
        <script src="~/js/compiled/AuthContext.js"></script>
        <script src="~/js/compiled/MessageStrip.js"></script>
        <script src="~/js/compiled/Layout.js"></script>
        <script src="~/js/compiled/TranformMessage.js"></script>
        <script src="~/js/compiled/Models.js"></script>
        <script src="~/js/compiled/Emoji.js"></script>
        <script src="~/js/compiled/ViewProfile.js"></script>
        <script src="~/js/compiled/BlockContact.js"></script>
        <script src="~/js/compiled/PersonChat.js"></script>
        <script src="~/js/compiled/Conversation.js"></script>
        <script src="~/js/compiled/Discussion.js"></script>
        <script src="~/js/compiled/Meetings.js"></script>
        <script src="~/js/compiled/Privacy.js"></script>
        
        <script src="~/js/compiled/App.js"></script>

        <script>
            "use strict";

            ReactDOM.render( /*#__PURE__*/React.createElement(App, null), document.getElementById('root'));
        </script>
    </environment>
}