@{
    ViewData["Title"] = "Yocail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="home">

    @*<div class="d-none p-1 rounded-3 mb-2 bg-white" id="askNotificationPermissionModal">
    <div class="text-center">
    <div class="my-1 fw-bold">Would you like to receive notifications?</div>
    <button id="PromptForAccessBtn" class="btn btn-light my-2">Allow Notification</button>
    </div>
    <div id="NoSupport" class="d-none alert alert-danger text-center my-2" role="alert">
    Your browser does not support Push Notifications or you have blocked notifications
    </div>
    <form asp-controller="Home" asp-action="SubscribeNotification" id="notificationaccessform" class="d-none">
    <input id="endpoint" name="endpoint" hidden />
    <input id="p256dh" name="p256dh" hidden />
    <input id="auth" name="auth" hidden />
    </form>
    </div>*@
</div>
@section scripts{
    <environment include="Development">
        <script type="text/babel">
            ReactDOM.render(
            <Home search="@ViewBag.Search" />,
            document.getElementById('home')
            );
        </script>
    </environment>
    <environment include="Staging,Production" exclude="Development">
        <script>
            ReactDOM.render(React.createElement(Home, { search: "@ViewBag.Search" }), document.getElementById('home'));
        </script>
    </environment>
}