@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="root"></div>
@section scripts{
    
    <environment include="Development">
        <script type="text/babel">
            ReactDOM.render(
            <App />,
            document.getElementById('root')
            );
        </script>
    </environment>
    <environment include="Staging,Production" exclude="Development">
        <script>
            ReactDOM.render( /*#__PURE__*/React.createElement(App, null), document.getElementById('root'));
        </script>
    </environment>
}