@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mt-1">
    <div class="col-md-8" id="home"></div>
    <div class="col-md-4" >
        <div style="position: -webkit-sticky; position: sticky; top: 90;">
            
            <div id="sendinvitecont"></div>
            <div id="suggestedaccounts">
            </div>
            @*<div class="d-none p-1 rounded-3 mb-2 bg-white" id="askNotificationPermissionModal">
                <div class="text-center">
                    <div class="my-1 fw-bold">Would you like to receive notifications?</div>
                    <button id="PromptForAccessBtn" class="btn btn-light my-2">Allow Notification</button>
                </div>
                <div id="NoSupport" class="d-none alert alert-danger text-center my-2" role="alert">
                    Your browser does not support Push Notifications or you have blocked notifications
                </div>
                <form asp-controller="Home" asp-action="SubscribeNotification" id="notificationaccessform" class="d-none">
                    <input id="endpoint" name="endpoint" hidden />
                    <input id="p256dh" name="p256dh" hidden />
                    <input id="auth" name="auth" hidden />
                </form>
            </div>*@
        </div>
    </div>
</div>
@section scripts{

    <environment include="Development">
        <script type="text/babel">
            ReactDOM.render(
            <Home />,
            document.getElementById('home')
            );
            ReactDOM.render(<SuggestedAccounts />, document.getElementById('suggestedaccounts'));
            ReactDOM.render(<SendInvite />, document.getElementById("sendinvitecont"));
        </script>
    </environment>
    <environment include="Staging,Production" exclude="Development">
        <script>
            ReactDOM.render(React.createElement(Home, null), document.getElementById('home'));
            ReactDOM.render(React.createElement(SuggestedAccounts, null), document.getElementById('suggestedaccounts'));
        </script>
    </environment>
}