
@{
    ViewData["Title"] = "Meetings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="meetingsdiv"></div>
@section head{

}

@section scripts{
    <script src="~/libs/moment.min.js"></script>
    <script src="~/libs/simplepeer.min.js"></script>
    <environment include="Development">
        <script src="~/js/TranformMessage.js"></script>
        <script type="text/babel" src="~/js/Emoji.js">
        </script>
        <script type="text/babel" src="~/js/Models.js">
        </script>
        <script type="text/babel" src="~/js/Discussion.js">
        </script>
        <script type="text/babel" src="~/js/Meetings.js">
        </script>

        <script type="text/babel">
            ReactDOM.render(
            <Meetings />,
            document.getElementById('meetingsdiv')
            );
        </script>
    </environment>
    <environment include="Staging,Production" exclude="Development">
        <script src="~/js/compiled/TranformMessage.js"></script>
        <script src="~/js/compiled/Emoji.js">
        </script>
        <script src="~/js/compiled/Models.js">
        </script>
        <script src="~/js/compiled/Discussion.js"></script>
        <script src="~/js/compiled/Meetings.js"></script>


        <script>
            "use strict";

            ReactDOM.render( /*#__PURE__*/React.createElement(Meetings, null), document.getElementById('meetingsdiv'));
        </script>
    </environment>
}

