
@{
    ViewData["Title"] = "Meetings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="meetingsdiv"></div>
@section head{

}

@section scripts{
    <environment include="Development">
        <script type="text/babel" src="~/js/Meetings.js">
        </script>
        <script type="text/babel">
            ReactDOM.render(
            <Meetings />,
            document.getElementById('meetingsdiv')
            );
        </script>
    </environment>
    <environment include="Staging,Production" exclude="Development">
        <script src="~/js/compiled/Meetings.js">
        </script>
        <script>
            "use strict";

            ReactDOM.render( /*#__PURE__*/React.createElement(Meetings, null), document.getElementById('meetingsdiv'));
        </script>
    </environment>
}

