
@{
    ViewData["Title"] = "Meetings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="meetingsdiv"></div>
@section head{

}

@section scripts{
    
        <script type="text/babel" src="~/js/Meetings.js">
        </script>
        <script type="text/babel">
            ReactDOM.render(
            <Meetings />,
            document.getElementById('meetingsdiv')
            );
        </script>
}
    
