
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="root"></div>

@section scripts{
    <environment include="Development">
        <script type="text/babel" src="~/js/Search.js"></script>
        <script type="text/babel">
            ReactDOM.render(
            <Search/>,
            document.getElementById('root')
            );
        </script>
    </environment>
    <environment include="Staging,Production" exclude="Development">
        <script src="~/js/compiled/Search.js"></script>
        <script>
            "use strict";
            ReactDOM.render(React.createElement(Search, { }), document.getElementById('root'));
        </script>
    </environment>
}