body{
    padding-top:60px;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.fixedBottom {
    position: fixed;
    top: auto;
    bottom: 0px;
    left: auto;
    right: 0px;
    z-index: 5000;
}

.noMargin {
    margin: 0px;
}

.noRadius {
    border-radius: 0px;
}

.startmeeting {
    font-size: 1em;
}

.translucent {
    background-color: rgba(255, 255, 255, 0.4);
}

#fullheight {
    height: 100vh;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#inputcont {
}

    #inputcont #msginput {
        width: calc(100% - 70px);
    }

#videocont {
    /*width: 100%;
    z-index: 0;
    height: 100vh;
    position: relative;
    overflow: auto;
    left: 0px;
    top: 0px;
    background-color: transparent;*/
    
}

    #videocont > #videolist {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        #videocont > #videolist > li {
            display: inline-block;
            width: 400px;
            height: 300px;
        }

            #videocont > #videolist > li > video {
                width: 100%;
                height: 100%;
            }

    #videocont > ul#videolist.video1 > li {
        width: 100%;
        height: 99vh;
    }

    #videocont > ul#videolist.video2 > li {
        width: 50%;
        height: 99vh;
    }

    #videocont > ul#videolist.video3 > li {
        width: 50%;
        height: 50vh;
    }

    #videocont > ul#videolist.video4 > li {
        width: 50%;
        height: 50vh;
    }

    #videocont > ul#videolist.video5 > li,
    #videocont > ul#videolist.video6 > li {
        width: 33%;
        height: 50vh;
    }

    #videocont > ul#videolist.video7 > li,
    #videocont > ul#videolist.video8 > li,
    #videocont > ul#videolist.video9 > li {
        width: 33%;
        height: 33vh;
    }

    #videocont > ul#videolist.video10 > li,
    #videocont > ul#videolist.video11 > li,
    #videocont > ul#videolist.video12 > li {
        width: 25%;
        height: 33vh;
    }

    #videocont > ul#videolist.video13 > li {
        width: 25%;
        height: 25vh;
    }

#msgcont {
    width: 100%;
    bottom: 0px;
    left: 0px;
    position: relative;
    background-color: transparent;
    padding-bottom:5px;
    /*max-height:200px;*/
    z-index: 5;
    /*padding: 0px 1rem;*/
}

    #msgcont > #msglist {
        margin: 0px;
        padding: 0px;
        list-style: none;
        background-color: transparent;
        max-height: calc(100vh - 100px);
        overflow-y: auto;
    }

        #msgcont > #msglist > li.notify {
            text-align: center;
            padding: 5px 0px;
            font-style: italic;
            font-size: 0.8em;
        }

        #msgcont > #msglist > li.receive {
            text-align: left;
            font-style: normal;
            font-size: 1em;
        }

        #msgcont > #msglist > li.sent {
            text-align: right;
            font-style: normal;
            font-size: 1em;
        }


        #msgcont > #msglist > li > span {
            background-color: rgba(255, 255, 255, 0.5);
            display: inline-block;
            padding: 4px;
            margin: 4px 0px;
            border-radius: 3px;
        }

            #msgcont > #msglist > li > span > small.name {
                text-transform: capitalize;
            }

            #msgcont > #msglist > li > span > small.time {
                display:none;
            }

            #msgcont > #msglist > li > span > small {
                display: block;
                font-size: 0.7em;
                font-style: italic;
            }

        #msgcont > #msglist > li.notify > span {
            text-transform: capitalize;
        }

        #msgcont > #msglist > li.receive > span {
            background-color: rgba(142, 191, 67, 0.6);
            color:white;
        }

    #msgcont #inputcont {
        background-color: rgba(255, 255, 255, 0.4);
    }

.modal-title {
    text-transform: capitalize;
}

.loaderheight {
    height: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }


.meetingsmain{
    margin: 10rem;
}