/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.fixedBottom {
    position: fixed;
    top: auto;
    bottom: 0px;
    left: auto;
    right: 0px;
    z-index: 5000;
}

.noMargin {
    margin: 0px;
}

.noRadius {
    border-radius: 0px;
}

.startmeeting {
    font-size: 1em;
}

#fullheight {
    height: 100vh;
    overflow: auto;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#inputcont {
}

    #inputcont #msginput {
        width: calc(100% - 70px);
    }

#videocont {
    width: 100%;
    z-index: 0;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: transparent;
}

    #videocont > #videolist {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        #videocont > #videolist > li {
            float: left;
            display: inline-block;
            width: 400px;
            height: 300px;
        }

            #videocont > #videolist > li > video {
                width: 100%;
                height: 100%;
            }

#msgcont {
    width: 100%;
    bottom: 0px;
    left: 0px;
    position: fixed;
    background-color: transparent;
    min-height: 54px;
    /*max-height:200px;*/
    z-index: 5;
    padding: 0px 5rem;
}

    #msgcont > #msglist {
        margin: 0px;
        padding: 0px;
        list-style: none;
        background-color: transparent;
        max-height: 50vh;
        overflow-y: auto;
    }

        #msgcont > #msglist > li.notify {
            text-align: center;
            padding: 5px 0px;
            font-style: italic;
            font-size: 0.8em;
        }

        #msgcont > #msglist > li.receive {
            text-align: left;
            font-style: normal;
            font-size: 1em;
        }

        #msgcont > #msglist > li.sent {
            text-align: right;
            font-style: normal;
            font-size: 1em;
        }

        #msgcont > #msglist > li > small {
            display: block;
            font-size: 0.7em;
            font-style: italic;
        }

video.full {
    width: 100%;
    height: 100%;
}
